{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask"
cask_args appdir: "/Applications"

# General
brew "mtr"
brew "nmap"
cask "rectangle"
brew "wget"

# Development
brew "asdf"
brew "awscli"
brew "azure-cli"
cask "docker"
brew "gh"
brew "git"
tap "heroku/brew"
brew "heroku"
cask "iterm2"
cask "ngrok"
brew "terraform"
cask "visual-studio-code"

# Specific Apps

## RecRec Manager
brew "postgresql@14"
EOF
{{ end -}}
